*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cairo';
}
header {
    width: 100%;
    background-color: #141414;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr 1.3fr 1.3fr 1.3fr 1.3fr 1fr ;
    grid-template-rows: 
    45% 35%;
}

#logo{
    display: flex;
    grid-column: 2;
    grid-row: 1/2;
    text-align: center;
    font-size: 55px;
    font-family: 'Gupter';
    font-weight: 900;
    color: rgb(255, 255, 255);
}

#home{
    grid-column: 3/4;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home a{
    text-decoration: none;
    font-family: 'Kumar One';
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}

#home a:hover{
    color: #fbff05e5;
    font-size: 25px;
    transition: 0.4s;  
}

#contato{
    grid-column: 4/5;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contato a{
    text-decoration: none;
    font-family: 'Kumar One';
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    
}

#contato a:hover{
    color: #fbff05e5;
    font-size: 25px; 
    transition: 0.4s; 
}

#Cardapio{
    grid-column: 5;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#Cardapio a{
    text-decoration: none;
    font-family: 'Kumar One';
    font-size: 20px;
    color: #dd0f0f;
    font-weight: 500;
    text-align: center;
}


#login{
    display: flex;
    grid-column: 7/8;
    justify-content: center;
    text-align: center;
    gap: 5%;
}

#icon-login{
    width: 35%;
    height: 13vh;
}

#botom-login{
    margin-top: 45px;
    border-radius: 30px;
    padding: 8px 15px;
    background-color: #ffd903;
    border-color: #dbba24;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

#botom-login a{
    text-decoration: none;
    font-family: 'Kumar One';
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    text-align: center;

}

#pesqu{
    display: flex;
    grid-column: 7/8;
    grid-row: 2; 
    justify-content: center;
}

#input{
    margin-top: 40px;
    
}

#imp_texto{
    border-radius: 30px;
    width: 125%;
    height: 5vh;
    border: #ffd903 solid 3px;
    color: #000000;
    font-size: 15px;
    text-align: center;
}

body{
    background-color: #ceac15;
}

#barra_busca{
    width: 100%;
    height: 48vh;
    background-color: #9E1C1C ;
}

#busca{
    padding-top: 2.5%;
    justify-content: center;
    display: flex;
    gap: 10px;
}

#Busca-input{
    width: 25%;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
    font-family: 'Gupter';
    border: #000000 2px solid;
}

#icon-busca{
    width: 4.5%;
    height: 1.5vh;
}

.filtrar{
    padding: 2.2%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.filtro{
    font-size: 25px;
    font-family: 'Gupter';
    font-weight: 600;
    border-radius: 30px;
    padding: 8px 15px;
    background-color: #ffd903;
    border-color: #000000;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.filtro:hover{
    border: solid 4px rgb(0, 0, 0) ;
}

.filtro a{
    text-decoration: none;
    color: #000000;
    font-family: 'Gupter';
}

#comida{
   display: grid;
   grid-template-columns: repeat(3, 1.2fr);
   margin: 100px;
   gap: 30px;
}

#comida img{
    width: 95%;
    height: 35vh;
}

#tipi1{
    grid-column: 1;
    grid-row: 1;
}

#tipi2{
    grid-column: 2;
    grid-row: 1;
}

#tipi3{
    grid-column: 3;
    grid-row: 1;
}

#tipi4{
    grid-column: 1;
    grid-row: 3;
}

#tipi5{
    grid-column: 2;
    grid-row: 3;
}

#tipi6{
    grid-column: 3;
    grid-row: 3;
}

#tipi7{
    grid-column: 1;
    grid-row: 5;
}

#tipi8{
    grid-column: 2;
    grid-row: 5;
}

#tipi9{
    grid-column: 3;
    grid-row: 5;
}

.nome{
    font-size: 2.5rem;
    font-family:'Gupter';
    font-weight: 800;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: relative;
}

.nome:after {
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 0.3vh;
    width: 100%;
    background: #c21c1cec;
    content: "";
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.descri{
    padding-top: 20px;
    font-family:'Gupter';
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.5rem;
    position: relative;
    padding-bottom: 4px;
}

.descri:after {
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 0.3vh;
    width: 100%;
    background: #c21c1cec;
    content: "";
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.preco{
    padding-top: 26px;
    font-family: 'Gupter';
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 2.8rem;
}

#almo{
    text-align: center;
    font-size: 50px;
    font-family: 'Gupter';
    color: #000000;
    position: relative;
}

#almo:after {
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 0.6vh;
    width: 28%;
    background: #c21c1cec;
    content: "";
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#executivos{
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#executivos img{
    min-width: 54px;
    min-height: 54px;
    max-width: 145px;
    max-height: 145px;
    margin-left: 10px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid rgb(255, 238, 0);
    background-color: rgb(198, 205, 212);
}

.tabela{
    border: #9E1C1C solid 1px;
    width: 50%;
    background-color: #c5d304ad;
    padding: 20px 16px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5%;
}
.flex{
    display: flex;
    justify-content: space-between;
}

.detalhe{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.detalhe .nom{
    font-size: 25px;
    font-family: 'Gupter';
    font-weight: 500;
}

.detalhe .comple{
    font-size: 18px;
    font-family: 'Gupter';
    font-weight: 500;
    color: #585858;
}

.detalhe .preco2{
    font-size: 25px;
    font-family: 'Gupter';
    font-weight: 800;
    color: #000000;
}

.icon-mais{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 40px;
    width: 40px;
    background: #b6b6b69d;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    text-align: center;
}

.icon-mais svg{
    width: 20px;
    height: 20px;
}

#sobre{
    text-align: center;
    padding-top: 5vh;
    font-size: 50px;
    font-family: 'Gupter';
    position: relative;
}

#sobre:after {
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 0.6vh;
    width: 20%;
    background: #c21c1cec;
    content: "";
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#sobreme img{
    min-width: 54px;
    min-height: 54px;
    max-width: 145px;
    max-height: 145px;
    margin-left: 10px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid rgb(255, 238, 0);
    background-color: rgb(198, 205, 212);
}

#sobreme{
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mais-pedi{
    text-align: center;
    padding-top: 5vh;
    font-size: 50px;
    font-family: 'Gupter';
    position: relative;
}

#mais-pedi:after {
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 0.6vh;
    width: 20%;
    background: #c21c1cec;
    content: "";
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#pedidos-mais{
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pedidos-mais img{
    min-width: 54px;
    min-height: 54px;
    max-width: 145px;
    max-height: 145px;
    margin-left: 10px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid rgb(255, 238, 0);
    background-color: rgb(198, 205, 212);
}

#comb{
    text-align: center;
    padding-top: 5vh;
    font-size: 50px;
    font-family: 'Gupter';
    position: relative;
}

#comb:after {
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 0.6vh;
    width: 15%;
    background: #c21c1cec;
    content: "";
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#combos{
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#combos img{
    min-width: 54px;
    min-height: 54px;
    max-width: 145px;
    max-height: 145px;
    margin-left: 10px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid rgb(255, 238, 0);
    background-color: rgb(198, 205, 212);
}

#bebi{
    text-align: center;
    padding-top: 5vh;
    font-size: 50px;
    font-family: 'Gupter';
    position: relative;
}

#bebi:after {
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 0.6vh;
    width: 15%;
    background: #c21c1cec;
    content: "";
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#bebidas{
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bebidas img{
    min-width: 54px;
    min-height: 54px;
    max-width: 145px;
    max-height: 145px;
    margin-left: 10px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid rgb(255, 238, 0);
    background-color: rgb(198, 205, 212);
}

footer{
    width: 100%;
    height: 65vh;
    background-color: #0c0c0c;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr ;
    grid-row: 20vh 20vh;
}

#logo2{
    padding-top: 2vh;
    grid-column: 1;
    grid-row: 1;
    font-size: 50px;
    font-family: 'Gupter';
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 1.3;
}

#pess{
    text-align: center;
    display: grid;
    padding-top: 2vh;
    grid-column: 1;
    grid-row: 2;
}

#ender{
    font-size: 20px;
    font-family: 'Gupter';
    font-weight: 600;
    color: #ffffff;
}

#numbe{
    font-size: 20px;
    font-family: 'Gupter';
    font-weight: 600;
    color: #ffffff;
}

#email{
    font-size: 20px;
    font-family: 'Gupter';
    font-weight: 600;
    color: #ffffff;
}

#empre{
    padding-top: 2vh;
    grid-row: 1;
    grid-column: 2;
}

#compa{
    grid-column: 2;
    text-align: center;
    font-size: 30px;
    font-family: 'Gupter';
    font-weight: 600;
    color: rgb(255, 255, 255);

}

#colun{
    display: flex;
    gap: 10px;
}

.colunas{
    line-height: 1.5;
    display: grid;
    gap: 2px;
    list-style: none;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Gupter';
}

#areaemail{
    padding-top: 2vh;
    grid-column: 3;
    grid-row: 1;
    display: grid;
    gap: 20px;
}

#titu2{
    text-align: center;
    font-size: 30px;
    font-family: 'Gupter';
    color: #ffffff;
    font-weight: 600;
    
}

#subtitu{
    text-align: center;
    font-size: 20px;
    font-family: 'Gupter';
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.7;
}

#enteremail{
    display: flex;
}

#Colocaremail{
    text-align: center;
    width: 75%;
    height: 9.5vh;
    font-size: 20px;
    font-family: 'Gupter';
    font-weight: 500;
    color: #fff;
}

#botao-email{
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    height: 9.5vh;
    width: 35%;
    text-align: center;
    background: #ecea51;
}

#botao-email a{
    text-decoration: none;
    font-family: 'Gupter';
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    color: #000000; 
}

#linha{
    grid-column: 1/4;
    grid-row: 3;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-radius: 0;
    background: none;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#sun{
    grid-row: 5;
    grid-column: 2;
    color: #fff;
    font-size: 25px;
    font-family: 'Gupter';
    font-weight: 600;
}