*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cairo';
    padding: 0;
}

body{
    background-color: #9E1C1C;
    font-family: 'Gupter';
}

header{
    width: 100%;
    background-color: #141414;
    height: 20vh;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

header h1{
    color: white;
    font-family: 'Gupter';
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.login{
    background: #f7e702e8;
    width: 30%;
    border-radius: 28px;
    padding: 40px;
}

.login h2{
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    font-family: 'Gupter';
}

.login1{
    position: absolute;
}

.login .inbox-user{
    position: relative;
}

.login .inbox-user input{
    width: 100%;
    padding: 10px 0; 
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #9E1C1C;
    color: #141414;
    font-size: 18px;
    margin-bottom: 30px;
}

.forget{
    text-decoration: none;
    font-size: 18px;
    color: #141414;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-family: 'Gupter';
    text-transform: uppercase;
}

#btn{
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    color: #9E1C1C;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 20px;
    transition: 5s;
   
    font-weight: 700;
    font-family: 'Gupter';
}

#btn:hover{
    background: #141414
}

